.order-item-details{
    display: flex;
    font-weight: bold;
}

.order-item-titles{
    display: flex;
    margin-bottom: 10px;
}

.order-item-qty{
    flex: 1
}
.order-item-name{
    flex: 1;
}

.order-item-price{
    flex: 1;
    text-align: right;
}

.merged-payment-details{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}


.payment-details{
    display: flex;
    flex-direction: column;
}

