.orders-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.orders-main-container {
  display: flex;
  flex: 1;
  background-color: #e7e6e6;
  overflow-y: hidden;
}

.header-orders-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.orders-main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header-orders-container .ant-btn-primary:disabled {
  background-color: #cfcdcd;
}

.header-orders-container .ant-btn-primary:disabled:hover {
  background-color: #cfcdcd !important;
}

